@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quiz de programação</h1>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Questão 1</h5>
    <p class="card-text">HTML é uma linguagem de programação</p>
    <div class="form-group">
      <input type="radio" name="q1" value="true" >
      <label for="">Verdadeiro</label>
      <input type="radio" name="q1" value="false" />
      <label for="">Falso</label>
    </div>
  </div>
</div>